.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  position: fixed; /* 고정 위치 */
  height: 100%; /* 전체 높이 */
  z-index: 1; /* 내용 위에 나타나도록 */
  font-family: 'Trebuchet MS', sans-serif;
}

.sidebar.open {
  transform: translateX(0);
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 200px; /* 사이드바 너비만큼 여백 추가 */
}

.hamburger {
  font-size: 28px; /* 햄버거 버튼 크기 */
  background: none;
  border: none;
  cursor: pointer;
}

.menu-item {
  padding: 10px; /* 패딩 추가 */
  background-color: #f4f4f4; /* 배경색 */
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 5px; /* 모서리 둥글게 */
  margin: 5px 0; /* 항목 간 여백 */
  text-align: center; /* 텍스트 중앙 정렬 *
  cursor: pointer; /* 커서 모양 변경 */
}

.menu-item:hover {
  background-color: #e0e0e0; /* 호버 시 배경색 변경 */
}

.sidebar ul {
  list-style-type: none; /* 점 제거 */
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */
}

.sidebar a {
  color: inherit; /* 부모 요소의 색상 사용 */
  text-decoration: none; /* 밑줄 제거 */
}

